[Unit]
Description=Private docker-registry
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --name docker-registry -v /home/docker-registry:/var/docker-registry -p 5000:5000 --rm cyr62110/notidroid-registry
ExecStop=/usr/bin/docker kill docker-registry

[Install]
WantedBy=multi-user.target